body{
  background-color: #37474f;
  background-size: cover;
  background-repeat: no-repeat;
}
h1{
  color: #90a4ae;
  font-family: cursive;
  font-size: 40pt;
  text-align: center;
  font-style: italic;
  text-shadow: 3px 2px 1px teal;
}
p{
  color: #90a4ae;
  font-size: 30pt;
  font-family: cursive;
  font-style: italic;
  text-align: center;
}
.move{
  text-align:center;
  font-size: 30pt;
}
#image{
  margin-left: 400px;
  animation-duration: 2s;
}
.button {
  background-color: #b0bec5;
  border: none;
  color: black;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  margin: 4px;
  cursor: sw-resize;
  border-radius: 16px;
}
