body{
  background-color: #37474f;
  background-size: cover;
  background-repeat: no-repeat;
}
h1{
  color: #90a4ae;
  font-family: cursive;
  font-size: 40pt;
  text-align: center;
  font-style: italic;
  text-shadow: 3px 2px 1px teal;
}
p{
  color: #90a4ae;
  font-size: 30pt;
  font-family: cursive;
  font-style: italic;
  text-align: center;
}
